.container
  = form_tag account_calculators_path, method: :get, class: 'd-flex justify-content-end mb-5' do
    .d-flex
      = text_field_tag :search, params[:search], class: 'form-control me-sm-2', placeholder: t('.search_placeholder')
      = button_tag type: :submit, name: nil, class: 'btn btn-primary px-4 d-flex align-items-center' do
        i.fa.fa-search.me-2
        span =t('.search_button')
    = link_to new_account_calculator_path, class: 'btn btn-success px-4 ms-1' do
      i.fa.fa-plus.me-2
      span =t('.add_calculator_button')

  table.table.admin-table
    thead
      tr
        th[scope="col"] = sort_link(@q, :id, "#", default_order: :desc)
        th[scope="col"] = sort_link(@q, :slug, t('.table.calculator_slug'), default_order: :desc)
        th[scope="col"] = sort_link(@q, :name, t('.table.calculator_name'), default_order: :desc)
        th[scope="col"] = t('.table.calculator_actions')

    tbody.admin-table-links
      - @calculators.each do |calculator|
        tr class=(calculator.preferable ? 'table-success' : 'table-light')
          td= calculator.id
          td= calculator.slug
          td= calculator.name
          td.actions
            = link_to account_calculator_path(slug: calculator) do
              i.fa.fa-eye.mx-2
            = link_to edit_account_calculator_path(slug: calculator) do
              i.fa.fa-pen.mx-2
            = link_to account_calculator_path(slug: calculator), data: { turbo_method: :delete, turbo_confirm: t('.confirm_delete') } do
              i.fa.fa-trash.mx-2
