.container
  - if @calculator.errors.any?
    div
      h2
        = t('activerecord.form_errors', :count => @calculator.errors.count,
                       :model => t('models.calculator').downcase)
      ul
        - @calculator.errors.full_messages.each do |error_message|
          li= error_message
  = simple_form_for @calculator, url: account_calculators_path do |f|
    .form-group.row
      .col-12.has-float-label.my-auto
        = f.input :name, class: 'form-control'
        = f.input :product_id, collection: @products, include_blank: false
    .div.d-flex
      = f.button :submit, t('.create_calculator_button'), class: 'btn btn-success me-2 height-auto w-auto'
      = link_to account_calculators_path, class: 'btn btn-danger d-flex align-items-center justify-content-center height-auto w-auto' do
        span.me-1 = t('.cancel_button')
        i.fa.fa-times-circle
