.container
  = simple_form_for @product, method: :patch, url: account_product_path, data: { controller: "price-form" } do |f|
    .form-group.row
      .col-12.has-float-label.my-auto
        = f.input :title, label: t('.title'), class: 'form-control col-sm-11'
        - if Category.ordered_by_name.exists?
          = f.simple_fields_for :prices do |prices_form|
            .checkbox-blocks
              = check_box_tag prices_form.object.category.name, 1, true, data: { price_form_target: 'checkbox', action: "click->price-form#removePrice click->price-form#togglePrice" }, class: 'me-1'
              = label_tag prices_form.object.category.name
              .hidden-sum data-price-form-target="price" name=prices_form.object.category.name
                = prices_form.input :sum, label: false, input_html: { placeholder: 'Sum', data: { price_form_target: 'priceInput' } }
                = prices_form.hidden_field :category_id, value: prices_form.object.category.id
                = prices_form.hidden_field :_destroy, data: { price_form_target: 'hiddenField' }

    = f.submit t('buttons.update'), class: 'btn btn-success me-2', id: 'submit', data: { action: "click->price-form#submit" }
    = link_to account_products_path, class: 'btn btn-danger' do
      span.mr-1 =t('buttons.cancel')
      i.fa.fa-times-circle
