.container
  .d-flex.justify-content-end.mb-5
    = link_to new_account_product_path, class: 'btn btn-success px-4 ml-1' do
      i.fa.fa-plus.mr-2
      span =t('.add_product_button')

  table.table
    thead
      tr
        th scope="col" #
        th scope="col" =t('.table.title')
        th scope="col" =t('.table.prices')
        th scope="col" =t('.table.actions')

    tbody
      - @products.includes(prices: :category).each do |product|
        tr
          td = product.id
          td = product.title
          td
            - product.prices.includes(:category).each do |price|
              span = "#{price.category.name}: #{price.sum}"
              br
          td.actions
            = link_to edit_account_product_path(id: product) do
              i.fa.fa-pen.mx-2
            = link_to account_product_path(id: product), method: :delete, data: { confirm: t('.confirm_delete') } do
              i.fa.fa-trash.mx-2
