.container
  = simple_form_for @product, url: account_products_path, data: { controller: "price-form" } do |f|
    .form-group.row
      .col-12.has-float-label.my-auto
        = f.input :title, label: t('.title'), class: 'form-control col-sm-11'
        = f.input :default_usage_per_day, label: t('.default_usage_per_day'), class: 'form-control col-sm-11'
        - Category.ordered_by_name.each do |category|
          .checkbox-blocks
            = f.simple_fields_for :prices do |prices_form|
              = check_box_tag category.name, 1, false, data: { action: "click->price-form#togglePrice", price_form_target: 'checkbox' }, class: 'me-1'
              = label_tag category.name
              .hidden-sum data-price-form-target="price" name=category.name
                = prices_form.input :sum, label: false, input_html: { placeholder: 'Sum', data: { price_form_target: 'priceInput' } }
                = prices_form.hidden_field :category_id, value: category.id
    .div.d-flex.mt-2
        = f.submit t('buttons.create'), class: 'btn btn-success me-2 w-auto'
        = link_to account_products_path, class: 'btn btn-danger d-flex align-items-center' do
          span.me-1 =t('buttons.cancel')
