<div class="col-md-6 d-flex" data-controller="search">
  <%= search_form_for(q, url: search_url, method: :get ) do |f| %>
    <div class="search-container">
      <i class="fa-solid fa-search search-icon"></i>

      <%= f.text_field search_attribute, placeholder: t(".search_placeholder"), class: "search-input", data: { search_target: "input", action: "input->search#input" } %>

      <button type="button" class="clear-button invisible" data-action="search#clear" data-search-target="clearButton">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  <% end %>
</div>
