<p class="d-inline mr-3">
  <%= t('sort.sort_by') %>
</p>

<div class="d-inline-block">
  <%= form_with method: :get do |form| %>
    <%= form.select :sort, criterias, { selected: params[:sort], include_blank: true }, class: 'form-control mr-5', onchange: 'this.form.submit()' %>
  <% end %>
</div>
