<h1 class="display-4 text-center mt-5 mb-5">
  Welcome to Zero Waste Calculator
</h1>
<div class="container home">
  <div class="jumbotron">
    <div class="container mt-5 mb-5">
      <h3 class="container ml-2">Just a couple of questions</h3>
      <form action="" class="container mt-3">
        <div class="container input-group d-flex justify-content-between">
          <label for="" class="text-center">
            Child's birthday
            <input type="text" class="col datepick" />
          </label>
          <label for="" class="text-center">
            Baby weight
            <input type="text" class="col datepick" />
          </label>
          <label for="" class="text-center">
            Child's birthday
            <input type="text" class="col datepick" />
          </label>
        </div>
        <div class="container ml-3 mt-4 form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            checked
          />
          <label class="form-check-label" for="flexCheckChecked">
            Yes, I want to receive email messages with recommendations
          </label>
        </div>
        <button type="submit" class="btn btn-success ml-3 mt-4">
          CALCULATE RESULT
        </button>
      </form>
    </div>
  </div>
</div>
