<% set_meta_tags(title: t(".meta-title")) %>

<div class="container" id="calculators-public">
  <div class="grid grid-cols-2 gap-3">
  <%= render partial: "calculators/partials/shared/calculator", collection: @calculators %>
  </div>
  <%= paginate @calculators %>
</div>
