.container
  table.table.admin-table
    thead
      tr
        th[scope="col"] = t('.id_column')
        th[scope="col"] = t('.calculator_name')
        th[scope="col"] = t('.calculator_actions')

    tbody.admin-table-links
      - @calculators.each do |calculator|
        tr class=(calculator.preferable ? 'table-success' : 'table-light')
          td= calculator.id
          td= calculator.name
          td.actions
            = link_to '#', class: 'disabled-link', onclick: 'return false;' do
              i.fa.fa-eye.mx-2
