.jumbotron.jumbotron-fluid.position-relative.rounded
  a.rounded.back-link.mt-3.px-2 href=root_path
    .p.back-text
      = image_tag "icons/arrow-left.svg", class: "z-1"
      = t 'calculators.buttons.to_main'
  .d-flex.justify-content-around.flex-wrap.calculator_wrap.ms-5
    = simple_form_for(:child, url: "#", html: { class: "simple_form_calculator",
                                            data: { controller: "input-child-info",
                                                  input_child_info_url_value: api_v1_diaper_calculators_url,
                                                  input_child_info_months_value: month_number("new"),
                                                  input_child_info_results_outlet: '.result' }}) do |form|
      .flex-item.flex-column
        .input_lable.pb-2
          = t('.form.description')
        .flex-item.flex-row.rounded.w-100.age_wrapper.form_fild
          = form.input_field :years,
                              collection: 0..2,
                              prompt: '__',
                              class: 'select-age ms-2 rounded',
                              data: { input_child_info_target: 'year', action: 'input-child-info#yearChanged' }

          = t('.form.childs_years_label')

          = form.input_field :months,
                              collection: month_number("new"),
                              prompt: '__',
                              class: 'select-age rounded',
                              data: { input_child_info_target: 'month' }

          = t('.form.childs_months_label')
        .input_lable.pb-2
          = t('.form.price')
        = form.input_field :product_category, collection: collection_product_category,
                                                      selected: t('.form.medium'),
                                                      label: t('.form_price'),
                                                      class: 'form_fild price_select rounded w-100',
                                                      data: { input_child_info_target: 'productCategory' }

        = form.submit t('calculators.buttons.calculate'),
                    class: 'calculate-btn result-btn',
                    data: { action: 'input-child-info#submit' }
    = image_tag "scales.png", class: "scales_img"

.container.calculation-results.result [data-controller='results']
  .main-result-container
    .result-container
      - [{ image: "diapers_bought_2.png", data_target: "diapersUsed", unit: t(".pieces"), text: t(".bought_diapers") },
        "arrow",
        { image: "diapers_to_buy_2.png", data_target: "diapersToBeUsed", unit: t(".pieces"), text: t(".will_buy_diapers") },
        { image: "money_spent_2.png", data_target: "moneySpent", unit: t(".unit"), text: t(".money_spent") },
        "arrow",
        { image: "money_to_spent_2.png", data_target: "moneyWillBeSpent", unit: t(".unit"), text: t(".money_will_be_spent") }].each do |item|
        - if item == "arrow"
          .vector-width
            = image_tag "icons/vector_5.png", class: "vector"
            = image_tag "icons/vector_2.png", class: "vector-mobile"

        - else
          div
            = image_tag item[:image], class: "img-margin"
            p [data-results-target=item[:data_target]] 000
            p.diapers-font
              = item[:unit]
            p.diapers-font-text
              = item[:text]

.container.calculation-results
  .row
    .col-xl-8.result-card
      = render 'layouts/description_block'
    .col-sm.result-card
      button.calculate-btn.description-btn
        = render 'layouts/description_button'
