.container
  .row
    .col-sm-9.col-md-7.col-lg-5.mx-auto
      .card.text-center
        .card-block
          h2= t('.sing_up_header')
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = render "devise/shared/error_messages", resource: resource
            .field
              = f.label :email, t('.form.email_label')
              br/
              = f.email_field :email, autofocus: true, autocomplete: "email"
            .field
              = f.label :password, t('.form.password_label')
              - if @minimum_password_length
                em
                  | (#{@minimum_password_length} #{t('.form.password_characters_minimum_label')})
              br/
              = f.password_field :password, autocomplete: "new-password"
            .field
              = f.label :password_confirmation, t('.form.password_confirmation_label')
              br/
              = f.password_field :password_confirmation, autocomplete: "new-password"
            .field
              = f.label :first_name, t('.form.first_name_label')
              br/
              = f.text_field :first_name, autofocus: true, autocomplete: "name"
            .field
              = f.label :last_name, t('.form.last_name_label')
              br/
              = f.text_field :last_name, autofocus: true, autocomplete: "name"
            br/
            = f.country_select :country
            .actions
              br/
              = f.submit t('.form.sing_up_button'), class: "btn btn-primary"
          = render "devise/shared/links"
