.calculate-btn {
  width: auto!important;
  height: 56px;
  margin-top: 40px;
  color: #fff;
  background-color: $success;
  border: none;
  border-radius: 4px;
  padding-top: 2px;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  transition: transform 0.5s linear;
  max-width: 300px;
}

#calc {
  padding-top: 2px;
  margin-right: 10px;
}

.form-a {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #666666;
  position: relative;
  top: 17px;
  left: 0px;
  margin-bottom: 0px;
}

.calculator__cross__space {
  position: absolute;
  top: 8px;
  right: 16px;
  height: 40px;
  width:40px;
}

.form {
  padding-left: 15px;
}

.row-l {
  margin-left: 0px;
  margin-right: 0px;
}

.flex-item {
  display: flex;
  flex-wrap: wrap;
  max-width: 275px;
  margin-left: auto;
  margin-right: auto;

  .input_lable {
    color: $dark_gray;
    font-weight: 700;
  }

  .form_fild {
    min-height: 33px;
    font-weight: 400;
    margin-bottom: 24px;
    max-width: 275px;
    background-color: $light_gray;
  }

  .age_wrapper {
    align-items: center;
    .select-age {
      background-color: $light_gray;
      width: 20px;
      margin-left: 4px;
      text-align: center;
      border: none;
      outline: none;
      color: $dark_gray;
      appearance: none;
      padding: 0rem;
    }
  }

  .price_select {
    text-align: center;
    border: none;
    outline: none;
    color: $dark_gray;
  }

  .result-btn {
    margin-bottom: 32px;
  }

  .check-label {
    font-size: small;
    margin-left: 16px;
    margin-bottom: 0;
    width: 200px;
  }
}

.scales_img {
  align-self: center;
  width: 50%;
  max-width: 428px;
}

.simple_form_calculator {
  width: 40%;
  margin-top: 32px;
}

.form-input {
  width: 160px;
  padding-left: 20px;
}

.last-year option:nth-child(1n + 9) {
  display: none;
}

.hidden {
  display: none;
}

#date {
  width: 236px;
  padding-left: 20px;
  padding-right: 12px;
  color: #999999;
}

.result-btn {
  font-size: 18px;
  height: 40px;
  text-align: center;
  margin-top: 0;
}

.result-btn #calc {
  padding: 0;
  margin: 0;
}

.logo-zerowaste {
  width: 11em;
}

.logo-zerowaste img {
  width: 100%;
  border-radius: 5px;
}

.description-btn {
  margin: auto;
  a {
    color: $color;
    background-color: transparent;
    text-decoration: none;
  }
}

.col-xl-8.result-card {
  span {
    text-align: left;
    margin-left: 30px;
    a {
      color: $success;
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: $dark_green;
      background-color: transparent;
      text-decoration: none;
    }
  }
}

.z-1 {
  z-index: 1;
}

.inline-input {
  display: inline-flex;
}

.calc-container {
  width: 100%!important;
}

.calc-item {
  width: 300px
}

@media screen and (max-width: 1199px) and (min-width: 400px) {
  .description-btn {
    margin: auto;
  }
}

@media screen and (max-width: $sm) {
  .logo-zerowaste img {
    width: 100%;
  }
  .logo-zerowaste {
    width: 9em;
  }
  .form {
    padding-left: 10px;
  }
  .form-p {
    left: 10px;
  }
  .result-btn {
    max-width: 400px;
  }
}

@media screen and (max-width: $xs) {
  .simple_form_calculator {
    width: 100%;
    margin-top: 24px;
  }
  .scales_img {
    width: 100%;
  }
}
