.feature-container {
  margin-top: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 12px;

  label {
    display: inline-block;
    font-weight: semibold;
    margin-right: 10px;
    vertical-align: middle;
    color: $dark_gray
  }

  .description-feature {
    margin-top: 10px;
  }

  input[type="checkbox"] {
    appearance: none;
    border: 2px solid $dark_gray;
    border-radius: 4px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    width: 20px;

    &:checked {
      background-color: $success;
      border-color: $dark_gray;
    }
  }

  span {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
  }
}

input[type="submit"] {
  background-color: $success;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  width: 100px;

  &:hover {
    background-color: $dark_green;
  }
}
