.btn-success {
  background-color: #8fba3b;
}

.btn-success:hover {
  background-color: #799d32;
}

label[for$="_price"] {
  width: 90px;
}

label.btn-success {
  color: #fff;
}

#site_setting_favicon {
  display: none;
}
