@layer components {
  .under-construction {
    @apply px-4;
  }

  .under-construction__wrapper {
    @apply flex flex-col items-center justify-between md:flex-row;
  }

  .under-construction__content {
    @apply text-center p-2.5 mb-3 md:w-5/12 xl:w-1/2 md:text-left md:mb-0 lg:mr-2;

  }

  .under-construction__title {
    @apply text-2xl leading-normal font-semibold text-success tracking-tight uppercase mb-5 lg:text-4xl lg:leading-normal;
  }

  .under-construction__text {
    @apply text-lg font-medium italic sm:text-xl;
  }

  .under-construction__img-box {
    @apply w-full flex justify-center md:w-7/12 xl:w-1/2 max-w-xl;
  }

  .under-construction__img {
    @apply max-w-full h-auto hover:scale-105 transition duration-500 ease-in-out;
  }
}
