.container
  .d-flex.flex-row-reverse
    = link_to new_account_category_path, class: 'btn btn-success px-4 ml-1 mb-2' do
      i.fa.fa-plus.mr-2
      span =t('.add_category_button')

div class="container home"

  table.table
    thead
      tr
        th scope="col" = sort_link(@q, :id, "#", default_order: :desc)
        th scope="col" = sort_link(@q, :name, t('.table.title'), default_order: :desc)
        th scope="col" = sort_link(@q, :priority, t('.table.priority'), default_order: :desc)
        th scope="col" = t('.table.actions')

    tbody
      - @categories.each do |category|
        tr
          th scope="row"  = category.id
          td = category.name
          td = category.priority
          td.actions
            div.d-flex
              = link_to edit_account_category_path(id: category) do
                i.fa.fa-pen.mx-2
              = button_to account_category_path(id: category), data: { turbo_method: :delete, turbo_confirm: t('.confirm_delete') } do
                i.fa.fa-trash.mx-2
