<%= turbo_frame_tag :diapers_periods do %>
  <h3><strong>Select category:</strong></h3>
  <br>
  <% if categories.exists? %>
    <table class="w-full table-auto">
      <% categories.each do |category| %>
        <tr>
          <td class="flex items-center py-2">
            <%= category.name %>
          </td>
          <td class="w-1/3">
            <%= link_to(
                  '[Select]',
                  new_account_diapers_period_path(category_id: category.id),
                  class: "flex justify-center",
                  data: { turbo_stream: true }
                ) %>
          </td>
      <% end %>
    </table>
  <% else %>
    <p>No Avaliable categories. Create new Category</p>
  <% end %>

  <%= link_to(
        '[Back]',
        categories_account_diapers_periods_path,
        data: { turbo_stream: true },
        class: "btn-grey"
      ) %>
<% end %>
