.container
  .row
    .col-sm-9.col-md-7.col-lg-5.mx-auto
      .card.text-center
        .card-block
          h2= t('.forgot_password_header')
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = render "devise/shared/error_messages", resource: resource
            .field
              = f.label :email, t('.form.email_label')
              br/
              = f.email_field :email, autofocus: true, autocomplete: "email"
            br/
            .actions
              = f.submit t('.send_instructions_button'), class: "btn btn-primary"
          = render "devise/shared/links"
