<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol class="inline-flex items-center">
    <%= render_breadcrumbs separator: inline_svg("icons/chevron-right.svg", class: "z-1 h-4 px-2") %>
  </ol>
</nav>
