<section class="under-construction">
  <div class="under-construction__wrapper">
    <div class="under-construction__content">
      <h1 class="under-construction__title"><%= t('.title') %></h1>
      <p class="under-construction__text"><%= t('.text') %></p>
      <p class="under-construction__text"><%= t('.text_update') %></p>
    </div>
    <div class="under-construction__img-box">
      <%= image_tag "under_construction.png", alt: t('.alt_text'), class: 'under-construction__img' %>
    </div>
  </div>
</section>
