<section class="under-constr_section">
  <div class="under-constr_wrapper">
    <div class="under-constr_content">
      <h1 class="under-constr_title"><%= t('.title') %></h1>
      <p class="under-constr_text"><%= t('.text') %></p>
      <p class="under-constr_text"><%= t('.text_update') %></p>
    </div>
    <div class="under-constr_img-box">
      <%= image_tag "under_construction.png", alt: t('.alt_text'), class: 'under-constr_img' %>
    </div>
  </div>
</section>
