<main class="container">
  <h1 class="homepage_title"><%= t '.homepage_title' %></h1>
  <p><%= t '.description' %></p>

  <%= link_to_external(text: t('.visit_website'), url: t(".link"), class: 'main-btn btn-outline-gray justify-center') %>
  <%= link_to t('.calculate'), calculator_path, class: "main-btn btn-outline-green" %>
</main>
