<main class="container">
  <h1 class="homepage_title"><%= t '.homepage_title' %></h1>
  <p><%= t '.description' %></p>

  <%= link_to t('.visit_website'), t('.link'), target: '_blank', class: "main-btn btn-outline-gray" %>
  <%= link_to t('.calculate'), calculator_path, class: "main-btn btn-outline-green" %>
</main>
