.container.d-flex.justify-content-between
  .flex-child
    h2.text-center = t '.table.edit_user_info'
    = simple_form_for(@user, url: account_user_path(id: @user), remote: false, wrapper: :horizontal_form)  do |f|
      = f.input :first_name, placeholder: t('.form.name_label'), autofocus: true, autocomplete: 'first name'
      = f.input :last_name, placeholder: t('.form.surname_label'), autofocus: true, autocomplete: 'last name'
      = f.input :country, autofocus: true
      = f.input :password, autocomplete: 'new-password', hint: t('.form.password_hint'), required: false
      = f.input :password_confirmation, autocomplete: 'new-password', required: false
      = f.input :avatar, as: :file, direct_upload: true, class: 'm-3', label: t('.avatar'), hint: t('.form.avatar_hint'), wrapper: :horizontal_form
      = f.submit t('.form.update_user_button'), class: 'btn btn-primary'
  .flex-child
    h2.text-center = t '.avatar'
    dd
      - if @user.avatar.attached? && @user.avatar.persisted?
        = image_tag @user.avatar, class: "w-75 d-block my-0 mx-auto"
      - else
        = image_tag 'user.png', class: "w-75 d-block my-0 mx-auto"
