.container.d-flex.justify-content-between
  .flex-child
    h2 = t '.header'
    dl
      dt = t '.table.email_col'
      dd = @user.email

      dt = t '.table.first_name_col'
      dd = @user.first_name

      dt = t '.table.last_name_col'
      dd = @user.last_name

      dt = t '.table.country_col'
      dd = @user.country

      dt = t '.table.last_sign_in_col'
      dd = @user.last_sign_in_at

      dt = t '.table.current_IP_col'
      dd = @user.current_sign_in_ip

      dt = t '.table.last_IP_col'
      dd = @user.last_sign_in_ip

      dt = t '.table.ban_col'
      dd = t(".table.#{ @user.blocked? ? 'blocked' : 'unblocked' }_label")
  .flex-child
    h2.text-center = t('.avatar')
    dd
      - if @user.avatar.attached?
        = image_tag @user.avatar, class: "w-75 d-block my-0 mx-auto"
      - else
        = image_tag 'user.png', class: "w-75 d-block my-0 mx-auto"
