<turbo-frame id="diapers_categories">
  <% if @categories.present? %>
    <% @categories.each do |category| %>
      <div style="display: flex; align-items: center;">
        <p><%= category.name %></p>
        <p>-------------------</p>
        <%= link_to '[Show Diapers Periods]', show_diapers_period_account_site_setting_path(category_id: category.id), method: :get, data: { turbo_frame: 'diapers_categories' } %>
        <p>-------------------</p>
        <%= button_to '[Delete All Periods]', delete_all_periods_account_site_setting_path(category_id: category.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <br>
    <% end %>
  <% else %>
    <p>No diapers categories found. Add some from Avaliable list</p>
  <% end %>

  <%= link_to '[Show Avaliable Categories]', show_all_categories_account_site_setting_path, method: :get, data: { turbo_frame: 'diapers_categories' }, class: "btn-grey" %>

</turbo-frame>
