<turbo-frame id="diapers_categories">
  <% if @categories.present? %>
    <table class="w-full table-auto">
      <% @categories.each do |category| %>
        <tr>
          <td class="flex items-center py-2">
            <%= category.name %>
          </td>
          <td class="w-1/3">
            <%= link_to '[Show Diapers Periods]', show_diapers_period_account_site_setting_path(category_id: category.id), method: :get, data: { turbo_frame: 'diapers_categories' } %>
          </td>
          <td class="w-1/4">
            <%= button_to '[Delete All Periods]', delete_all_periods_account_site_setting_path(category_id: category.id), method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>No diapers categories found. Add some from Available list</p>
  <% end %>

  <%= link_to '[Show Available Categories]', show_all_categories_account_site_setting_path, method: :get, data: { turbo_frame: 'diapers_categories' }, class: "btn-grey" %>
</turbo-frame>
