<turbo-frame id="diapers_categories">
  <h3><strong>Add new category for diapers</strong></h3>
  <br>
  <% if @categories.present? %>
    <table class="w-full table-auto">
      <% @categories.each do |category| %>
        <tr>
          <td class="flex items-center py-2">
            <%= category.name %>
          </td>
          <td class="w-1/3">
            <%= link_to '[Add New Period]', new_account_site_setting_diapers_period_path(category_id: category.id) %>
          </td>
      <% end %>
    </table>
  <% else %>
    <p>No Avaliable categories. Create new Category</p>
  <% end %>

  <%= link_to '[Back to Diapers Categories]', show_diapers_categories_account_site_setting_path, method: :get, data: { turbo_frame: 'diapers_categories' }, class: "btn-grey" %>
</turbo-frame>
