<h1 class="display-4 text-center mt-5 mb-5">
  Welcome to Zero Waste Calculator
</h1>
<div class="container home">
  <div class="jumbotron">
    <div class="container mt-5 mb-5">
      <h5>Just a couple of questions</h5>
      <div class="container input-group">
        <input type="text" class="col-3 datepick" />
        <button class="btn btn-primary" id="mybtn"><i class="fa fa-calendar-o" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
