<h1 class="display-4 text-center mt-4">Welcome to Zero Waste Calculator</h1>
<div class="container home">
  <div class="jumbotron">
    <div class="container mt-5 mb-5">
      <h5>Just a couple of questions</h5>
      <div class="container input-group">
        <input type="text" id="datepicker" />
        <button class="btn btn-primary" id="mybtn">Calculate Date</button>
      </div>
      <div class="container mt-3">
        <h6 class="pl-1">Days passed</h6>
        <div class="text-center" id="days"></div>
      </div>
    </div>
  </div>
</div>
