<div class="nested-fields">
  <%= f.input :en_name, label: "Category Name:" %>
  <%= f.input :price, label: "Category Price:" %>
  <%= link_to_remove_association "-Remove Category", f, class: "text-red-500 underline" %>
</div>
