<div class="nested-fields">
  <%= f.input :color, as: :color, label: 'Choose a Color for Calculator Page:', input_html: { class: 'form-control form-control-color p-2', style: 'width: 7rem; height: 3.5rem;' } %>
</div>
