<div class="nested-fields">
  <%= f.input :en_label, label: "Formula Label:" %>
  <%= f.input :expression, label: "Formula Expression:" %>
  <%= link_to_remove_association "-Remove Formula", f, class: "text-red-500 underline" %>
</div>