<fieldset class="bordered nested-fields">
  <legend class="admin-legend">Periodical Category <span data-constructors-form-indexing-target="index">1</span></legend>
  <div>
    <%= f.input :period_start, label: "Period start:" %>
    <%= f.input :period_end, label: "Period end:" %>
    <%= f.input :usage_amount, label: "Usage Amount:" %>
    <%= f.input :price, label: "Category Price:" %>

    
  </div>
</fieldset>
