<section class="mx-auto space-y-4 text-center rounded-lg py-36 bg-white/10 text-success backdrop-blur-md max-w-1230">
  <p class="font-bold text-7xl">500</p>
  <p class="text-4xl font-bold"><%= t('500_page.title') %></h1>
  <p class="px-8 text-lg"><%= t('500_page.description') %></p>
</section>
