<section class="error-section">
  <p class="error-code">500</p>
  <p class="error-title"><%= t('500_page.title') %></h1>
  <p class="error-description"><%= t('500_page.description') %></p>
</section>
