<section class="px-8 text-center py-28">
  <p class="mb-4 text-4xl font-bold text-red-400"><%= t('404_page.title') %></h1>
  <p class="text-lg text-red-400"><%= t('404_page.description') %></p>
</section>
