<section class="mt-16 text-center rounded jumbotron main-container">
  <p class="mb-4 text-4xl font-bold text-gray-800"><%= t('404_page.title') %></h1>
  <p class="text-lg text-gray-600"><%= t('404_page.description') %></p>
</section>
