<section class="error-section">
  <p class="error-code">422</p>
  <p class="error-title"><%= t('422_page.title') %></h1>
  <p class="error-description"><%= t('422_page.description') %></p>
</section>
