$success: #8FBA3B;

@import "~bootstrap/scss/bootstrap";
@import "../css/main.css.scss";
@import "../css/admin_footer.css.scss";
@import "../css/admin_edit_show.css.scss";
@import "../css/calculator.css.scss";
