.calculate-btn {
  width: 186px;
  height: 56px;
  margin-top: 40px;
  color: #fff;
  background-color: #8fba3b;
  border: none;
  border-radius: 4px;
  padding-top: 2px;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  transition: transform 0.5s linear;
}

#calc {
  padding-top: 2px;
  margin-right: 10px;
}

.form-p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #666666;
  position: relative;
  top: 15px;
  left: 20px;
  margin-bottom: 0px;
}
.form-a {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #666666;
  position: relative;
  top: 17px;
  left: 0px;
  margin-bottom: 0px;
}

.src {
  position: relative;
  top: 25px;
  margin-left: 20px;
}

.form {
  padding-top: 25px;
  padding-left: 15px;
  max-width: 800px;
  text-align: start;
  display: flex;
}

.row-l {
  margin-left: 0px;
  margin-right: 0px;
}

.flex-item {
  width: fit-content;
  select {
    margin-top: 25px;
  }
}

.flex-item input[type="text"],
.flex-item input[type="date"] {
  height: 50px;
  margin-right: 20px;
}

.check-label {
  margin-left: 15px;
}

.form-input {
  width: 160px;
  padding-left: 20px;
}

.last-year option:nth-child(1n + 9) {
  display: none;
}

.hidden {
  display: none;
}

#date {
  width: 236px;
  padding-left: 20px;
  padding-right: 12px;
  color: #999999;
}

.result-btn {
  width: 250px;
  text-align: center;
}

.result-btn #calc {
  padding: 0;
  margin: 0;
}

.logo-zerowaste img {
  aspect-ratio: 16 / 9;
  width: 80%;
  border-radius: 5px;
}

.discrip-btn{
  margin-left: 50px;
  margin-top: 45px;
  a {
    color:$color;
    background-color: transparent;
    text-decoration: none;
  }
}

.col-xl-8.result-card {
  span {
    text-align: left;
    margin-left: 30px;
    a {
        color: $success;
        background-color: transparent;
        text-decoration: none;
    }
    a:hover {
      color: #256d36;
      background-color: transparent;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 1199px) and (min-width: 400px) {
  button.calculate-btn.result-btn.discrip-btn {
    margin: auto;
  }
}
