body {
  position: relative;
  margin: 0 auto;
  background: url("../images/mother.jpeg") no-repeat center top;
  background-size: cover;
  overflow-x: hidden;
  min-height: 100%;
}

a {
  display: inline-block;
  cursor: pointer;
  @include transition(all 0.5s ease-in-out);
  outline: 0;

  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.filter_block {
  position: absolute;
  background-color: #00000078;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.page-header {
  max-width: 1110px;
  font-family: "Comfortaa", sans-serif;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 2px solid $gray;

}

div.jumbotron {
  font-family: "Comfortaa", sans-serif;
  background-color: $color;
  padding: 25px 10px;
  max-width: 1110px;
  min-height: 310px;
  margin: 10px auto;
}

.func-btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 315px;
}

.mn-vd {
  min-width: 102px;
}

.main-container {
  margin-bottom: 20px;
  padding: 20px;

  img {
    margin: 0px 30px;
  }
}

.main-btns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 420px;
  margin: 20px auto;

  &> :last-of-type {
    & img {
      margin-right: 10px;
    }

    &:hover {
      color: $color;
    }
  }
}

.donate-btn,
.main-btns {
  background-color: transparent;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0.2em;

  a {
    border: 2px solid $gray;
    border-radius: 4px;
    padding: 17px 36px;
    font-size: 12px;
    color: $color;
    text-align: center;
    min-width: 187px;

    &:hover {
      color: $success;
      border-color: $success;
    }
  }
}

.logo {
  font-size: 24px;
  color: $color;
  @include transition(all 0.5s ease-in-out);

  &:hover {
    color: $success;
  }
}

.tab {
  text-transform: uppercase;
  font-size: 14px;
  padding: 33px 25px;
  color: $color;
  border-bottom: 3px solid transparent;
  @include transition(all 0.5s ease-in-out);

  &:hover {
    color: $color;
    border-bottom: 3px solid $success;
  }
}

/* home-page */
.homepage_title {
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  margin-top: 200px;
  color: $color;
}

main p {
  color: $color;
  max-width: 640px;
  text-align: center;
  margin: 20px auto;
}

// forms
.position-block {
  .card {
    font-family: "Comfortaa", sans-serif;
    max-width: 650px;
    margin: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    input,
    select {
      display: inline-block;
      outline: none;
      background: $color;
      border: 2px solid $gray;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 5px;
    }

    input[type="submit"] {
      text-transform: uppercase;
      white-space: initial;
      color: $gray;
      padding: 15px;
      height: 100%;
      max-width: 230px;
      font-size: 14px;

      &:hover {
        color: $success;
        border-color: $success;
      }

      &:active {
        background-color: $success;
      }
    }
  }
}

.donate-btn,
.func-btns,
label.text-center,
.form-check-label,
.btn-success,
.result-card,
.last-result-card {
  font-family: "Nunito", sans-serif;
}

h1,
.footer-items {
  color: $color;
}

h1.display-4 {
  font-size: 48px;
  padding-top: 70px;
}

h3.container {
  font-size: 22px;
  padding: 20px;
}

div.calculation-results {
  padding: 10px;
  margin-top: 20px;
  position: center;
  background-color: $color;
  max-width: 1110px;
  min-height: 151px;
  border-radius: 6px;
}

.result-card {
  font-size: 14px;
  text-align: center;
  color: #b3b3b3;
  border-right: 0.5px solid #f5f5f5;
  display: inline-flex;

  .img-border {
    display: inline-block;
    height: 70px;
    width: 70px;
    border: 2px solid #f5f5f5;
    border-radius: 90%;
    margin-right: 10px;

    img {
      height: 100%;
      padding: 0px;
      margin: auto;
    }
  }

  p {
    font-size: 24px;

  }

  &:last-child {
    border: none;
  }
}

.result-card,
.last-result-card {
  font-weight: 300;
  padding: 30px;

  p {
    font-size: 22px;

    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #808080;
  }

  img {
    margin: 0px 15px;
  }
}

/* admin */

body.admin {
  background: none;
}

.admin-container {
  padding-top: 100px;
}

.admin-container h1 {
  margin-bottom: 30px;
}

.admin-table {

  .admin-table-header>*,
  .admin-table-body>* {
    display: flex;
  }

  .admin-table-header {
    font-weight: bold;
    border-bottom: 1px solid lightgray;

    .actions {
      justify-content: center;
    }
  }

  .admin-table-links {
    a {
      color: $success;

      &:hover {
        color: #3d5217;
      }
    }

    .admin-table-body {
      &>* {
        align-items: center;
      }

      .actions {
        justify-content: space-between;
      }
    }
  }
}

.flash-message {
  color: $color;
  padding: 20px;
  border-radius: 3px;

  &.notice {
    background: $success;
  }

  &.alert {
    background: $danger;
  }
}

@media screen and (max-width: $xs) {
  .tab {
    display: none;
  }
  .filter_block {
    width: auto;
  }

  div.jumbotron,
  div.container {
    max-width: 350px ;
    margin-right: auto;
    margin-left: 15px;

    padding-left: 0px;
  }
  .calculation-results span {
    width: 410px;
  }
  .page-header {
    width: auto;
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
  }

  .donate-btn a {
    font-size: 12px;
  }
  .main-btns {
    max-width: 320px;

    a {
      padding: 10px;
    }
  }

  .func-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: initial;
    padding-bottom: initial;
    width: fit-content;
    margin-right: 5px;
    margin-left: 10px;
  }
}

@media screen and (max-width: $sm) {
  .tab {
    display: none;
  }
  .func-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: initial;
    padding-bottom: initial;
    width: fit-content;
  }
  .page-header {
    width: 510px;
  }
  .calculation-results,
  .jumbotron {
    width: 510px;
  }
  .donate-btn a {
    padding: 10px;
  }
}
