/* navigation */
body {
  background: url('../images/mother.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-header {
  padding: 20px 40px 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #8D8D8D;
}

div.jumbotron {
  background-color: #fff;
  padding: 25px 10px;
  margin-top: 90px;
  max-width: 1140px;
  min-height: 405px;
}

.main-container {
  margin-bottom: 20px;
  padding: 20px;

  img {
    margin: 0px 30px;
  }
}

.donate-btn {
  background-color: Transparent;
  border: 2px solid #8D8D8D;
  border-radius: 4px;
  padding: 17px 36px;
  font-size: 12px;
  letter-spacing: 2px;
}

.logo {
  font-size: 24px;
}

.tab {
  padding-left: 20px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

/* home-page */

.logo, .tab, .footer-items a, .d-flex a, .donate-btn a, input[type=submit] {
  color: white;

  &:hover {
    color: #262626;
    text-decoration: none;
  }
}

.logo, .tab, h3.container, h1, .footer-items {
  font-family: 'Comfortaa', cursive;
}

.donate-btn, label.text-center, .form-check-label, .btn-success, .result-card, .last-result-card {
  font-family: 'Nunito', sans-serif;
}

h1, .footer-items {
  color: white;
}

h1.display-4 {
  font-size: 48px;
  padding-top: 70px;
}

h3.container {
  font-size: 22px;
  padding: 20px;
}

div.calculation-results {
  padding: 10px;
  margin-top: 20px;
  position: center;
  background-color: #fff;
  max-width: 1110px;
  min-height: 151px;
  border-radius: 6px;
}

.result-card {
  border-right: 0.5px solid #F5F5F5;
}

.result-card, .last-result-card {
  font-weight: 300;
  padding: 30px;
  p {
    font-size: 22px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #808080;
  }
  img {
    margin: 0px 15px;
  }
}


/* footer */
.footer-items {
  justify-content: space-around;
  text-align: center;
}

.link {
  padding: 10px;
}

.above {
  margin-top: 10px;
  margin-bottom: 10px;
}

button.btn-success {
  padding: 17px 30px 10px 30px;
  background-color: #8FBA3B;
  border-color: #8FBA3B;
  border-radius: 8px;
  letter-spacing: 2px;
  font-size: 14px;
  img {
    margin: 0px;
    padding-right: 7px;
  }
}

.form-control {
  border: 1px solid #9e1503;
}


/* admin */

body.admin {
  background: none;
}

.admin-container {
  padding-top: 100px;
}

.admin-container h1 {
  margin-bottom: 30px;
}

.admin-table {
  .admin-table-header > *,
  .admin-table-body > * {
    display: flex;
  }

  .admin-table-header {
    font-weight: bold;
    border-bottom: 1px solid lightgray;

    .actions {
      justify-content: center;
    }
  }

  .admin-table-body {
    & > * {
      align-items: center;
    }

    .actions {
      justify-content: space-between;

      a {
        color: #8FBA3B;
        font-size: 1.5em;

        &:hover {
          color: #3d5217;
        }
      }
    }
  }
}

.flash-message {
  color: white;
  padding: 20px;
  border-radius: 3px;

  &.notice {
    background: $success;
  }

  &.alert {
    background: $danger;
  }
}
