<div>
  <p class="dynamic-text-color">
    <%= number_with_precision(result[:result].to_f, precision: 2) %>
  </p>
  <p class="text-2xl dynamic-text-color">
    <%= result[:unit] %>
  </p>
  <p class="diapers-font-text">
    <%= result[:label] %>
  </p>
</div>
