<div>
  <p class="dynamic-text-color">
    <%= result[:result] %>
  </p>
  <p class="text-2xl dynamic-text-color">
    <%= result[:unit] %>
  </p>
  <p class="diapers-font-text">
    <%= result[:label] %>
  </p>
</div>
