<%# TODO: Delete this and use user provided value %>
<% color = "#088F8F" %>

<% if false %>
  <section style="--calculator-color: <%= color %>" class="description-section">
    <%# TODO: Add partial here %>
  </section>
<% end %>