<% if calculator.uk_notes.present? || calculator.en_notes.present? %>
  <section class="description-section">
    <div class="description-section">
      <%== calculator.notes %>
    </div>
  </section>
<% end %>
