<%# TODO: Delete this if %>
<% if false %>
  <section class="description-section">
  <div class="description-block">
    <div class="description-content-box">
      <p data-type="description_block_html" class="description-text">
        <%# TODO: Add description text and links %>
      </p>
    </div>
    <div class="description-btn-box">
      <%# TODO: Add discription btn link here %>
    </div>
  </div>
  </section>
<% end %>
