<div class="vector-width">
    <%= image_tag "icons/vector_5.png", class: locals[:rotate_direction], alt: "horizontal arrow" %>
    <%= image_tag "icons/vector_2.png", class: "vector-mobile-#{locals[:rotate_direction]}", alt: "vertical arrow" %>
</div>
