@import "common_sizes.scss";

@layer components {
  .breadcrumbs {
    @apply flex w-full mx-auto py-3.5 text-light_gray;
    max-width: $max_width_content;
  }

  .breadcrumbs ol a {
    @apply text-success font-bold;
  }

  .breadcrumbs ol a:hover {
    text-decoration: underline;
    text-underline-offset: 0.4em;
    color: #7ca718;
  }
}
