@layer base {
  .btn-cyan {
   @apply text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2
  }

  .btn-green {
    @apply text-white hover:text-white bg-success hover:bg-matte_lime_green
  }

   .btn-blue {
    @apply text-white hover:text-white bg-blue hover:bg-dark_blue;
  }
}
