@layer components {
  .description-section {
    @apply max-w-1230 min-h-min bg-white rounded-md p-2.5 my-5 mx-auto;
  }

  .description-block {
    @apply flex flex-col lg:flex-row lg:justify-between items-center;
  }

  .description-content-box {
    @apply text-sm text-basic_gray border-r-0 mb-4 md:mb-0 md:w-full lg:w-2/3 lg:border-r lg:border-neutral-100 p-5;
  }

  .description-text {
    @apply text-sm font-light ml-7;
  }

  .description-btn-box {
    @apply flex justify-center lg:w-1/3 p-5;
  }

  .description-link {
    @apply text-success bg-transparent no-underline hover:text-matte_lime_green;
  }

  .action-button {
    @apply flex items-center justify-center w-56 h-14 max-w-xs border-none text-sm tracking-widest text-center uppercase font-normal font-nunito px-5 py-2 sm:w-auto sm:px-7 sm:whitespace-nowrap transition-basic;
  }
}
