@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";
@import "/components/header";
@import "/components/buttons";
@import "/components/loader";
@import "/components/admin-menu";
@import "./components/form.css";
@import "/components/account-footer";
@import "/components/pagination";
@import "/components/breadcrumbs.scss";
@import "/components/description_block";
@import "/components/showpage_calculator";
@import "/utilities/custom-utilities";
@import "/pages/under_construction"
