@import 'bootstrap/dist/css/bootstrap';

a {
  text-decoration: none;
  color: rgb(179, 173, 173) !important;
}

// navigation
body {
  background-color: #727272 !important;
}
.page-header {
  padding: 20px 40px 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
}
.tab {
  padding-left: 20px;
}

// home-page
.home {
  margin: 40px 0 100px 0;
}

// footer
.footer-items {
  justify-content: space-around;
  text-align: center;
  color: rgb(179, 173, 173) !important;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.copy-rights {
  text-align: center;
}
#days {
  height: 30px;
  width: 100px;
  background-color: #fff !important;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5em;
}
.link {
  padding: 10px;
}
