# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    # If you need DB like PostgreSQL, Redis then define service below.
    # https://github.com/actions/example-services/tree/master/.github/workflows
    services:
      postgres:
        image: postgres:10.8
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: password
          POSTGRES_DB: zero_waste_test
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        # tmpfs makes DB faster by using RAM
        options: >-
          --mount type=tmpfs,destination=/var/lib/postgresql/data
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      RAILS_ENV: test
      DATABASE_URL: postgres://test:password@localhost:5432/zero_waste_test
      USE_STATIC_ASSETS: true

    steps:
      - uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          # Not needed with a .ruby-version file
          ruby-version: 2.7.2
          # runs 'bundle install' and caches installed gems automatically
          bundler-cache: true

      - uses: nanasess/setup-chromedriver@master

      - name: Prepare config
        run: |
          mv config/database.yml.docker config/database.yml

      - name: Precompile assets
        run: |
          bundle exec rails assets:precompile

      - name: Run tests
        run: |
          bundle exec rspec ./spec -f j -o tmp/rspec_results.json -f p

      - name: RSpec Report
        uses: SonicGarden/rspec-report-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          json-path: tmp/rspec_results.json
        if: always()

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: 0794ef7c-f574-4d04-a9c3-fb93e0c75ece
          files: ./coverage.xml
          verbose: true
