name: Deploy

on:
  pull_request:
    types:
      - closed
    branches: 
      - develop

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: zerowaste-staging
          heroku_email: vl.denysiuk@gmail.com
