div class="container home"
  table.table
    thead
      tr
        th scope="col"  #
        th scope="col"  =t('.table.title')
        th scope="col"  =t('.table.email')
        th scope="col"  =t('.table.message')
        th scope="col"  =t('.table.show_more')

    tbody
      - @message.each do |message|
        tr
          th scope="row"  = message.id
          td = message.title
          td = message.email
          td = message.message.first(40)
          td.text-center = link_to fa_icon('eye'), account_message_path(message)
