nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom.border-success
  .container-fluid
    = link_to image_tag('logo_zerowaste.png'), root_path, class: 'logo-zerowaste'
    .collapse.navbar-collapse.row.navbar.order-lg-0 id="navbarNav"
        ul.navbar-nav.mr-0
          li.nav-item.mx-3
            = link_to t('.calculators'), account_calculators_path, class: 'navbar-brand text-success h3'
          li.nav-item.mx-3
            = link_to t('.histories'), account_histories_path, class: 'navbar-brand text-success h3'
          li.nav-item.mx-3
            = link_to t('.users'), account_users_path, class: 'navbar-brand text-success h3'
          li.nav-item.mx-3
            = link_to t('.messages'), account_messages_path, class: 'navbar-brand text-success h3'
          li.nav-item.mx-3
            = link_to t('.app_config'), edit_account_app_config_path, class: 'navbar-brand text-success h3'
          li.nav-item.mx-3
            = link_to t('.products'), account_products_path, class: 'navbar-brand text-success h3'
          li.nav-item.mx-3
            = link_to t('.categories'), account_categories_path, class: 'navbar-brand text-success h3'
          li.nav-item.mx-3
            = link_to t('.site_settings'), edit_account_site_setting_path, class: 'navbar-brand text-success h3'
    .d-flex.order-lg-1
      .mr-3.align-middle id="lang-btn"
        = link_to t(".#{switch_locale_to}"), url_for(locale: switch_locale_to), class: 'btn btn-outline-success btn-sm'
      = button_tag("", class: "navbar-toggler nav-toggler collapsed ml-auto d-flex d-lg-none flex-column justify-content-around align-bottom",
        id: "burger-btn", type: "button", data: { toggle: "collapse", target: "#navbarNav"},
        aria: { controls: "navbarNav", expanded: "false", label: "Toggle navigation" })
        span.toggler-icon.top-bar
        span.toggler-icon.middle-bar
        span.toggler-icon.bottom-bar
