footer.py-4.footer.container
  .row.footer-items
    .col
      h5= t '.name_of_organisation'
      p
        = t '.copyrights'
        a href="mailto:hello@zerowastelviv.org.ua"  hello@zerowastelviv.org.ua
    .col
      h5= t '.about_us'
      div
        div
          a href="#" = t '.link.about_organisation'
        .above
          a href="#" = t '.link.about_local_organisation'
        div
          a href="#" = t '.link.our_team'
    .col
      h5= t '.follow_us'
      div
        a href="mailto:zerowastelviv@gmail.com"  zerowastelviv@gmail.com
      .social-links.above
        a.link href="#" 
          i.fab.fa-youtube.fa-2x
        a.link href="#" 
          i.fab.fa-instagram.fa-2x
        a.link href="#" 
          i.fab.fa-facebook-f.fa-2x
  .d-flex.justify-content-center.mt-3
    .footer-items &amp;copy2021. Zero Waste Lviv
    .ml-4.mr-4
      a href="" = t '.link.privacy_policy'
    div
      a href="" = t '.link.terms_of_use'
