<footer class="py-4 footer container">
  <div class="row footer-items">
    <div class="col">
      <h6>ГО "НУЛЬ ВІДХОДІВ ЛЬВІВ"</h6>
      <p>
        Копіювання змісту цього сайту без дозволу правовласника заборонено. Якщо
        ви хочетескористатися матеріалами з нашого сайту, пишіть на
        <a href="mailto:hello@zerowastelviv.org.ua"></a
        >hello@zerowastelviv.org.ua
      </p>
    </div>
    <div class="col">
      <h6>ABOUT US</h6>
      <div><a href="#">Про Zero Waste</a></div>
      <div><a href="#">Про Zero Waste Lviv</a></div>
      <div><a href="#">Команда</a></div>
    </div>
    <div class="col">
      <h4>follow us</h4>
      <div class="social-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="copy-rights">Copy Rights</div>
</footer>
