<section class="description-section">
  <div class="description-block">
    <div class="description-content-box">
      <p data-type="description_block_html" class="description-text">
        <%= t(".mhc_description_block_html",
              information_link: link_to_external(text: t(".information_link_text"), url: t(".information_link") , class: 'description-link'),
              contact_link: link_to_external(text: t(".contact_link_text"), url: t(".contact_link"), class: 'description-link')) %>
      </p>
    </div>
    <div class="description-btn-box">
      <%= link_to_external(text: t('.use_less'), url: t(".use_less_link"), class: 'action-button btn-green') %>
    </div>
  </div>
</section>
