<header class="container page-header">
  <div>
    <a href="" class="logo">LOGO</a>
  </div>
  <div class="tabs">
    <a href="#" class="tab">TAB1</a>
    <a href="#" class="tab">TAB2</a>
    <a href="#" class="tab">TAB3</a>
    <a href="#" class="tab">TAB4</a>
  </div>
  <div class="donate">
    <button type="button" class="donate-btn">
      <a href="https://zerowastelviv.org.ua/pidtrymaty/">&#36 DONATE</a
      >
    </button>
  </div>
</header>
