<header class="container page-header">
  <div>
    <a href="" class="logo">LOGO</a>
  </div>
  <div class="tabs">
    <% if user_signed_in? %>
      <%= link_to "Log Out", destroy_user_session_path, class: 'tab' %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: 'tab' %>
      <%= link_to "Log In", new_user_session_path, class: 'tab', id: 'log_in' %>
    <% end %>
  </div>
  <div class="donate">
    <button type="button" class="donate-btn">
      <a href="https://zerowastelviv.org.ua/pidtrymaty/">&#36 DONATE</a
      >
    </button>
  </div>
</header>
